<img src='{{avatar}}' class='chat__avatar' />

<div class='chat__info'>
    <h3 class='chat__name'>{{name}}</h3>
    <p class='chat__text'>{{lastMessage}}</p>
</div>

<div class='chat__details'>
    <time class='chat__time'>{{lastMessageTime}}</time>
    <div class='chat__counter'>
        <p class='chat__counter-text'>{{newMessagesCounter}}</p>
    </div>
</div>
