<img src='{{chat.avatar}}' class='chat__avatar' />

<div class='chat__info'>
    <h3 class='chat__name'>{{chat.title}}</h3>
    <p class='chat__text'>{{chat.last_message.content}}</p>
</div>

<div class='chat__details'>
    <time class='chat__time'>{{chat.last_message.time}}</time>
    <div class='chat__counter'>
        <p class='chat__counter-text'>{{chat.unread_count}}</p>
    </div>
</div>
