<button class='profile__avatar'></button>
<h2 class='profile__name'>{{user.first_name}}</h2>

<form class='profile__container'>
    <div class='profile__form'>
        {{#each inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class='profile__save-button'>
        {{{saveButton}}}
    </div>
</form>

{{#each actions}}
    {{{this}}}
{{/each}}
<div class='profile__exit-link'>
    {{{link}}}
</div>
<div class='profile__back-pannel'>
    {{{arrowButton}}}
</div>